<div class="centered-content">
  <div class="modal-box has-background-light">
    <h1 class="title">
      Add new item
    </h1>
    <input #NameInput class="input has-background-light is-medium" type="text" placeholder="Enter name...">
    <br><br>
    <input #DescriptionInput class="input has-background-light is-medium" type="text" placeholder="Enter description...">
    <br><br>
    <input #CountInput class="input has-background-light is-medium" type="number" pattern="^[0-9]" title='Only Number' min="1" step="1" placeholder="Enter count...">
    <br><br>
    <div class="buttons is-right">
      <button class="button is-medium" routerLink="/">Cancel</button>
      <button class="button is-primary has-text-white is-medium" (click)="createItem(NameInput.value,DescriptionInput.value, CountInput.valueAsNumber)" >Create</button>
    </div>
    <button routerLink="/" class="button" style="margin-top: 35px;">
      Go back
    </button>
  </div>
</div>

